@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    h2 {
        @apply text-2xl font-bold leading-9 tracking-tight text-gray-900;
    }

    body {
        background: #f7f9fc;
    }

    button {
        @apply flex justify-center rounded-md shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
    }
}

@layer components {
    .text-xxs {
        font-size: 0.5rem;
        line-height: .75rem;
    }

    .svg-icon-size {
        @apply w-6 h-6 min-w-fit;
    }

    .single-line-ellipsis {
        @apply overflow-hidden whitespace-nowrap overflow-ellipsis;
    }
    .dialog {
        @apply relative z-50;
    }

    .dialog--overlay {
        @apply fixed inset-0 z-50 overflow-y-auto;
    }

    .dialog--content {
        @apply bg-white py-4 relative overflow-hidden bg-white text-left shadow-xl transition-all;
    }

    .dialog--content-wrap {
        @apply flex min-h-full items-end justify-center sm:items-center;
    }

    .column-4 {
        @apply grid grid-cols-1 md:grid-cols-4 gap-4;
    }
}